*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --color-dark: #6B717E;
    --color-primary: #EFAAC4;
    --color-primary-dark-shade: #E887AC;
    --color-primary-light-shade: #F2BAD0;
    --color-secondary: #FFC4D1;
    --color-light: #FFE8E1;
    --color-accent: #D4DCCD;
}

html {
    min-width: 350px;
    background-color: var(--color-secondary);
}

h3 {
    margin: 20px;
}

.container {
    color: #fff;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card {
    padding: 8px 16px 16px 16px;
    margin: 8px 0px 0px 0px;
    border-radius: 8px;
    background-color: var(--color-primary);
    max-width: 800px;
    opacity:0;
    animation: appear 1s forwards;
    transition: 1s;
}

.post-card .post-author {
    padding: 4px 0;
}

.post-card input {
    outline: none;
    border: none;
}

.post-card .comment-section {
    display: flex;
    user-select: none;
    padding-top: 8px; 
}

.post-card .comment-box {
    color: var(--color-light);
    padding: 8px 8px;
    background-color: var(--color-primary-dark-shade);
    flex-grow: 1;
    border-radius: 8px 0px 0px 8px;
}

.post-card .comment-send {
   padding: 8px 0; 
   width: 76px;
   color: var(--color-dark);
   background-color: var(--color-accent);
   border-radius: 0px 8px 8px 0px; 
   transition: filter .25s;
}

.post-card .comment-send:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transition: filter .25s;
}

.post-card .comment-send:active {
    cursor: pointer;
    filter: brightness(.8);
    transition: filter .25s;
}

.post-card .comment {
    display: block;
    word-wrap: break-word;
    width: 100%;
    margin-top: 4px;
    padding: 8px;
    background-color: var(--color-primary-light-shade);
    border-radius: 8px;
}

@keyframes appear {
    to {opacity: 1;} 
}